@model PlanetWars.Models.GameSession
@{
    ViewBag.Title = "Game Session #" + Model.GameId;
    ViewBag.FullWidth = true;
}

<div class="game-container">
    <h2 id="game-id">Session #@Model.GameId</h2>
    <ul id="game-players" class="list-unstyled">
        @foreach (var p in Model.Players)
        {
            <li>@p.Value (@p.Key)</li>
        }
    </ul>

    <canvas id="game"></canvas>
</div>

@section scripts {
    <script type="text/javascript">
        GameSession.create(@Model.GameId);
    </script>
}