@model PlanetWars.Models.GameSession
@{
    ViewBag.Title = "Game Session #" + Model.GameId;
    ViewBag.FullWidth = true;
}

<div class="game-container">
    <div class="game-info">
        <h2 id="game-id">Session #@Model.GameId</h2>
        <h3 id="game-turns">Turn: <span>(Waiting for players...)</span></h3>
        <ul id="game-players" class="list-unstyled">
            @foreach (var p in Model.Players)
            {
                <li data-id="@p.Key">@p.Value: <span></span></li>
            }
        </ul>
        <h2 id="game-over">Game over<br/><span></span></h2>
    </div>
    <div class="game-canvas">
        <canvas id="game"></canvas>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        GameSession.create(@Model.GameId);
    </script>
}