<h2 class="page-header">Active Games</h2>
<div class="row">

    <div class="alert alert-info">For any issues or questions please use the <a href="https://github.com/eonarheim/planet-wars-competition"><strong>issue tracker</strong></a>, or contact Erik Onarheim or Kamran Ayub</div>
    <div class="col-xs-12">

        <div id="no-games" class="alert alert-warning">No games yet, plz make some...</div>
        <ul id="games"></ul>


    </div>
</div>
@section scripts {

    <script type="text/javascript">

       // todo script

    </script>
}